.*
!.gitignore
*.
*.tar
*.tgz
*.edf
*.trc
*.png
*.pdf
*.log
*.tsv
*.csv
*.deb
*.nvvp
*.sh.*
HPCG/**/results/
HPCG/**/results/*
HPCG/**/*.sh.*
/Chainer/reedbush/dataset/
Chainer/**/*.sh.*
/Tensorflow-HP/benchmarks/
/cuda_samples/
/Centos/

