.*
!.gitignore
*.
*.tar
*.tgz
*.edf
*.trc
*.nvvp
*.png
*.pdf
*.log
*.tsv
*.deb
HPCG/**/results/
HPCG/**/results/*
HPCG/**/*.sh.*
/Yoshi/reedbush/dataset/
Yoshi/**/*.sh.*
/Tensorflow-HP/benchmarks/
/cuda_samples/
